button {
  font-size: 25px;
  background-color: #778D45;
  border-radius: 20px;
  width: 200px;
  height: 100px;
  border: none;
  margin: 20px 30px;
}
a {
  font-size: 25px;
  background-color: #AEC09A;
  border: 25px solid #AEC09A;
  border-radius: 20px;
  width: 200px;
  height: 100px;
  margin: 20px 30px;

}